<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Emergency persons list</title>
    <!--<link rel="stylesheet" th:href="@{/style.css}"></link> -->
</head>

<body>
<h2>Sélection : TOUS</h2>
<div th:unless="${#lists.isEmpty(persons)}">
    <dl th:each="person : ${persons}">
        <dt class="personHeadline">
            <span th:text="${person.firstName}">firstName</span>
            <span th:text="${person.lastName}">lastName</span>
        </dt>
        <dd class="personInformation">
          <span th:if="${person.address}"
                th:text="${person.address}">address</span>
            <span th:if="${person.address eq null}">
                No address available</span>
        </dd>
        <dd class="personInformation">
            <span th:if="${person.city}"
                  th:text="${person.city}">city</span>
            <span th:if="${person.city eq null}">
                No city available</span>
            <span th:if="${person.zip}"
                  th:text="${person.zip}">zip</span>
            <span th:if="${person.zip eq null}">
                No zip available</span>
        </dd>
        <dd class="personInformation">
            <span th:if="${person.phone}"
                  th:text="${person.phone}">phone</span>
            <span th:if="${person.phone eq null}">
                No phone available</span>
            <span th:if="${person.email}"
                  th:text="${person.email}">email</span>
            <span th:if="${person.email eq null}">
                No email available</span>
        </dd>
    </dl>
</div>
<div th:if="${#lists.isEmpty(persons)}">
    <p>La liste ne présente aucune personne.</p>
</div>


<hr/>

<h3>Ajouter une personne</h3>
<form method="POST">
    <label for="firstName">Prénom :</label>
    <input type="text" name="firstName" size="25"></input>
    <label for="lastName">Nom :</label>
    <input type="text" name="lastName" size="25"></input><br/><br/>
    <label for="address">Adresse :</label><br/>
    <textarea name="address" cols="75" rows="5"></textarea><br/><br/>
    <label for="city">Ville :</label>
    <input type="text" name="city" size="25"></input>
    <label for="zip">Code postal :</label>
    <input type="text" name="zip" size="25"></input><br/><br/>
    <label for="phone">Téléphone :</label>
    <input type="text" name="phone" size="25"></input>
    <label for="email">Courriel :</label>
    <input type="text" name="email" size="25"></input><br/><br/>
    <input type="submit"></input>
</form>

</body>
</html>
